* {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #121212;
    color: #fff;
}

a {
    text-decoration: none;
    color: #1ae183;
    transition: 0.5s;
}

a:hover {
    color: #710489;
    
}


h2 {
    color: #fcfaa7;
}